{% if author.google_scholar %}
  <li>
    <a href="https://scholar.google.de/citations?user={{ author.google_scholar }}" itemprop="sameAs">
      <i class="fab fa-fw fa-google" aria-hidden="true"></i> Scholar
    </a>
  </li>
{% endif %}

{% if author.dblp %}
  <li>
    <a href="http://dblp.uni-trier.de/pers/hd/b/{{ author.dblp }}" itemprop="sameAs">
      <i class="ai ai-fw ai-dblp" aria-hidden="true"></i> DBLP
    </a>
  </li>
{% endif %}

{% if author.academia %}
  <li>
    <a href="http://uni-trier.academia.edu/{{ author.academia }}" itemprop="sameAs">
      <i class="ai ai-fw ai-academia" aria-hidden="true"></i> Academia
    </a>
  </li>
{% endif %}

{% if author.researchgate %}
  <li>
    <a href="https://www.researchgate.net/profile/{{ author.researchgate }}" itemprop="sameAs">
      <i class="ai ai-fw ai-researchgate" aria-hidden="true"></i> ResearchGate
    </a>
  </li>
{% endif %}

